/* Global */

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Playfair Display", serif; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.container p {
  text-align: left;
}

.page-title {
  font-size: 60px;
  margin: 48px 0 0 0;
  position: relative;
  font-family: "Roboto Condensed", sans-serif; }

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Roboto Condensed", sans-serif; }

/* About */

.about {
  display: flex;
  flex-wrap: wrap;
}

/* List  */

.list {
  display: flex;
}